check-in-papi-app/src/main/mule/checkin-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="check-in-by-pnr" doc:id="d599b1b5-8fb1-41be-a500-66227dd901cb" >
		<set-variable value="#[message.attributes.uriParams.'PNR']" doc:name="Set Variable PNR" doc:id="7012f481-64f9-46fc-8327-c2326d959906" variableName="PNR"/>
		<ee:transform doc:name="Generates a JSON Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  paymentID: "PAY-1AKD7482FAB9STATKO"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
</mule>
